body {
    font-family: Arial;
    margin: 0;
    background-color: white;
    color: black;
}

header {
    background: #17072b;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
}

nav {
    background-color: #172d67;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

main {
    width: 100%;
    padding: 15px;
}

.welcome-section {
    float: left;
    width: 65%;
    padding-right: 10px;
}

.welcome-section img {
    width: 100%;
    margin-top: 10px;
}

.lineup-section {
    float: right;
    width: 30%;
    background-color: #f0f0f0;
    padding: 10px;
}

.lineup-section ul {
    padding-left: 15px;
}

.lineup-images img {
    width: 90px;
    height: 90px;
    margin: 5px;
}

footer {
    clear: both;
    background-color: #8c15e9;
    color: white;
    text-align: center;
    padding: 10px;
}
